<main>
    <a id="login" href="{{ instagramAuthorizationUrl }}">
        <div>
            <div id="logo">
                <span>H</span>
                <span>A</span>
                <span>W</span>
                <span>K</span>
            </div>
            <span>Log in with Instagram</span>
        </div>
        <img src="../../../public/images/instagram-logo.png" alt="Instagram">
    </a>
    <h2>
        <a href="https://github.com/reneses/tela" target="_blank"><> </a>with <i class="heart icon"></i> by
        <a href="http://www.reneses.io" target="_blank">Álvaro Reneses</a>
    </h2>
</main>