<main>
    <a id="login" href="{{ instagramAuthorizationUrl }}">
        <div>
            <div id="logo">
                <span>W</span>
                <span>H</span>
                <span>O</span>
                <span>?</span>
            </div>
            <span>Log in with Instagram</span>
        </div>
        <img src="../../../public/images/instagram-logo.png" alt="Instagram">
    </a>
    <h2>
        <> with <i class="fa fa-heart"></i> by
        <a href="http://www.reneses.io" target="_blank">Álvaro Reneses</a> - Source
    </h2>
</main>