<main>
    <div id="privacy">
        <h1>Tela Who?’s Privacy Policy</h1>
        <p>
            Tela Who? is a web application for companies, brands, and regular users, that allows them to obtain a better
            understanding about how a user is connected with them, so that they can improve their relationship and
            target similar users.
        </p>
        <p>
            This Privacy Policy describes how and when Tela Who? collects, uses and shares your information when
            you use our Services. Tela Who? receives your information through our web application. When using any of
            our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of
            your information as described in this Privacy Policy. Irrespective of which country you reside in or supply
            information from, you authorize Tela Who? to use your information in Spain and any other
            country where Tela Who? operates.
        </p>
        <p>If you have any questions or comments about this Privacy Policy, please contact us at
            alvaroreneses@gmail.com.</p>

        <h2>Information Collection and Use</h2>
        <p>We collect and use your information below to provide our Services and to measure and improve our Services
            from time to time.</p>
        <ul>
            <li><strong>Analysis</strong>: Our Services are primarily designed to help you understand how users interact
                with your account. When you use our services, you primarily asking us to show public information about
                your followers and people you follow, as well as your latest media. We do not share the analysis tasks
                that your perform, neither the users you search. In order to offer you a faster response, we might
                store your information and results of your analysis, but it will never be shared with third parties
                or entities.
            </li>
            <li>
                <strong>Log Data</strong>: When you use Tela Who?, we may receive information ("Log Data") such as your
                IP address, device information (including device and application IDs) and search terms. Tela Who? uses
                Log Data to provide, understand, and improve our Services.
            </li>
        </ul>

        <h2>Information Sharing and Disclosure</h2>
        <p>We do not disclose your private personal information except in the limited circumstances described here.</p>
        <ul>
            <li><strong>Law and Harm</strong>: Notwithstanding anything to the contrary in this Policy, we may preserve
                or disclose your
                information if we believe that it is reasonably necessary to comply with a law, regulation or legal
                request; to
                protect the safety of any person; to address fraud, security or technical issues; or to protect Tela
                Who?'s rights or property. However, nothing in this Privacy Policy is intended to limit any legal
                defenses
                or objections that you may have to a third party, including a government, request to disclose your
                information.
            </li>

            <li><strong>Business Transfers and Affiliates</strong>: In the event that Tela Who? is involved in a
                bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or
                transferred as part of that
                transaction. This Privacy Policy will apply to your information as transferred to the new entity. We may
                also
                disclose information about you to our corporate affiliates in order to help provide, understand, and
                improve our
                Services including the delivery of ads.
            </li>

            <li><strong>Non-Private or Non-Personal Information</strong>: We may share or disclose your non-private,
                aggregated or otherwise non-personal information, such as your public user profile information.
            </li>
        </ul>

        <h2>Changes to this Policy</h2>
        <p>We may revise this Privacy Policy from time to time. The most current version of the policy will govern our
            use
            of your information and will always be at <a href="http://tela-who.herokuapp.com/privacy" target="_blank">http://tela-who.herokuapp.com/privacy</a>.
            If we make a change to
            this policy that, in our sole discretion, is material, we will update
            <a href="http://tela-who.herokuapp.com/privacy" target="_blank">http://tela-who.herokuapp.com/privacy</a>.
            By continuing to access or use the Services after those changes
            become effective, you agree to be bound by the revised Privacy Policy.</p>

        <p>Effective: 1st November 2016</p>
    </div>
</main>